*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-image: url(png/IMAGE.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    
}
.wrapper {
    display: flex;
    justify-content: space-evenly;
    padding-top: 23px;
}
nav > a,
.contacts > a {
    padding: 32px;
    color: #E4D8CC;
    font-family: Inter;
    font-size: 11px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-decoration: none;
}
.header-description > h1 {
    padding: 298px 378px 14px 64px;
    color: #E4D8CC;
    font-family: Inter;
    font-size: 57px;
    font-style: normal;
    font-weight: 400;
    line-height: 60.48px;
}
.header-description > p {
    padding: 0px 655px 42px 64px;
    color: #C3BAB1;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}
.button1 {
    width: 218px;
    height: 52px;
    margin: 42px 16px 116px 64px;
    flex-shrink: 0;
    border-radius: 100px;
    border: 2px solid #7837F3;
    background: #7837F3;
    text-align: center;
    color: #FFF;
}
.button2 {
    width: 170px;
    height: 52px;
    margin: 42px 812px 116px 16px;
    flex-shrink: 0;
    border-radius: 100px;
    border: 2px solid #E4D8CC;
    background: #E4D8CC;
}
.statistics{
    display: flex;
    justify-content: space-evenly;
    background-color: #E7DFD8;
}
.statistics1 > h2 {
    padding: 76px 0 15px;
    width: 507px;
    color: #101010;
    font-family: Inter;
    font-size: 54px;
    font-style: normal;
    font-weight: 400;
    line-height: 58px;
}
.statistics1 > p {
    padding-bottom: 75px;
    width: 452px;
    color: #101010;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}
.statistics2 > img {
    padding-top: 93px;
    width: 539px;
    height: 283px;
    float: right;
}
.Bonus {
    
    background-color: #E7DFD8;
    display: flex;
}
.Bonus1 > img {
    width: 518px;
    height: 500px;
    flex-shrink: 0;
    border-radius: 12px;
}
.Bonus2 > button {
    width: 74px;
    height: 74px;
    flex-shrink: 0;
    border-radius: 100px;
    background: #B99FEA;
    color: #101010;
    text-align: center;
    font-family: Inter;
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.Bonus2 > .Home {
    color: #101010;
    font-family: Inter;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
}
.button2 > h2 {
    width: 459px;
    color: #101010;
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 1px;
}
.ho
